@font-face {
    font-family: OpenSauceSans;
    src: url(../fonts/OpenSauceSans-Regular.ttf);
}

*{
    font-family: OpenSauceSans;
    margin: 0;
}

/*navigation*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 42px;
    margin-bottom: 85px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.navlink{
    display: flex;
    gap: 64px;
}

.navlink > a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.navlink > a:hover{
    font-size: x-large;
    cursor: default;
}

/*upper section*/
.uppersection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
}

.topleftsection{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 540px;
    height: 275px;
}

.title{
    font-size: 48px;
}

.topleftsection > p{
    font-size: 20px;
    text-align: justify;
}

.highlighted{
    font-weight: bolder;
}

/*middle section*/
.middlesection{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 120px;
    gap: 36px;
}

.learning, .marketing, .hc, .it{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.learningpoint, .marketingpoint, .hcpoint, .itpoint{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.parentlearning, .parentmarketing, .parenthc, .parentit{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.divisi{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 128px;
}

.titledivisi{
    font-size: 48px;
}

/*bottom section*/
.datakiri{
    width: 517px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.nama, .nonim, .almtemail, .major, .lokasi, .subdivisi, .alasan{
    display: flex;
    flex-direction: column;
}

.datakanan{
    display: flex;
    flex-direction: column;
    gap: 83px;
}

#reason{
    width: 491px;
    height: 238px;
}

.parentpendaftaran{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 120px;
}

.bottomsection{
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-top: 120px;
    margin-left: 96px;
    margin-right: 96px;
}

.titlependaftaran{
    font-size: 48px;
}

.datakiri, .datakanan *{
    font-size: 24px;
}

.button2{
    color: white;
    background-color: #19A89D;
    text-decoration: none;
    border: none;
    padding: 20px 28px;
    font-size: 20px;
    width: 215px;
    height: 65px;
    text-align: center;
}

/*footer*/
.footerwebsite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 117px;
    padding-bottom: 117px;
    margin-top: 120px;
    background-color: black;
}

.sosialmedia{
    display: flex;
    gap: 24px;
}

.contactus{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.visitus{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 468px;
    height: 116px;
}

.leftfooter{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.contactus, .visitus{
    color: white;
}

.titlefooter, .descvisitus{
    font-size: 16px;
}