@font-face {
    font-family: OpenSauceSans;
    src: url(../fonts/OpenSauceSans-Regular.ttf);
}

*{
    font-family: OpenSauceSans;
    margin: 0;
}

/*navigation*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 42px;
    margin-bottom: 85px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.navlink{
    display: flex;
    gap: 64px;
}

.navlink > a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.navlink > a:hover{
    font-size: x-large;
    cursor: default;
}

/*upper section*/
.upper-section{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
}

.topleftsection{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 622px;
    height: 417px;
}

.title{
    font-size: 64px;
    width: 588px;
    height: 158px;
}

.highlighted{
    color: #19A89D;
}

.desc{
    font-size: 20px;
}

.button1{
    color: white;
    background-color: #19A89D;
    text-decoration: none;
    border: none;
    padding: 20px 28px;
    font-size: 20px;
    width: 260px;
    height: 65px;
}

/*upper middle section*/
.uppermiddlesection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 122.5px;
    gap: 105px;
}

.visi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.misi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.parentvisi, .parentmisi{
    display: flex;
    flex-direction: column;
    gap: 38.5px;
}

.parentvisi{
    width: 518px;
    height: 172px;
}

.parentmisi{
    width: 625px;
    height: 292px;
}

.titlemisi, .titlevisi{
    font-size: 48px;
}

.descvisi, .descmisi{
    font-size: 16px;
    text-align: justify;
}

/*mid middle section*/
.midmiddlesection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 120.5px;
    gap: 116px;
}

.mentor{
    display: flex;
    align-items: center;
    gap: 24px;
}

.parentmentor{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 414px;
    gap: 64.5px;
}

.manfaat{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.softskill, .networking, .poinsat, .sertifikatmentor, .pengalamanmengajar, .modul, .aksesgratis{
    display: flex;
    align-items: center;
    gap: 20px;
}

.syarat{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.b25, .ipk, .pttkk{
    display: flex;
    align-items: center;
    gap: 20px;
}

.manfaat, .syarat p{
    font-size: 16px;
}

.parentmentor p{
    font-size: 20px;
    text-align: justify;
}

.titlementor{
    font-size: 64px;
}

.titlemanfaat, .titlesyarat{
    font-size: 20px;
}

/*bottom middle section*/
