@font-face {
    font-family: OpenSauceSans;
    src: url(../fonts/OpenSauceSans-Regular.ttf);
}

*{
    font-family: OpenSauceSans;
    margin: 0;
}

/*navigation*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 42px;
    margin-bottom: 85px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.navlink{
    display: flex;
    gap: 64px;
}

.navlink > a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.navlink > a:hover{
    font-size: x-large;
    cursor: default;
}

/*upper section*/
.uppersection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
}

.topleftsection{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 540px;
    height: 275px;
}

.title{
    font-size: 48px;
}

.topleftsection > p{
    font-size: 20px;
    text-align: justify;
}

.highlighted{
    font-weight: bolder;
}

/*middle section*/
.middlesection{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 120px;
    gap: 36px;
}

.learning, .marketing, .hc, .it{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.parentlearning, .parentmarketing, .parenthc, .parentit{
    display: flex;
    flex-direction: column;
    gap: 38.5px;
}

.divisi{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 128px;
}

.titledivisi{
    font-size: 48px;
}

/*bottom section*/
.datakiri{
    width: 517px;
    height: 62px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.nama, .nonim, .almtemail, .major, .lokasi, .subdivisi{
    display: flex;
    flex-direction: column;
}