@font-face {
    font-family: OpenSauceSans;
    src: url(../fonts/OpenSauceSans-Regular.ttf);
}

*{
    font-family: OpenSauceSans;
    margin: 0;
}

/*navigation*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 42px;
    margin-bottom: 85px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.navlink{
    display: flex;
    gap: 64px;
}

.navlink > a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.navlink > a:hover{
    font-size: x-large;
    cursor: default;
}

/*upper section*/
.uppersection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
}

.topleftsection{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 622px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.title{
    font-size: 64px;
    width: 588px;
    height: 158px;
}

.highlighted{
    color: #19A89D;
}

.desc{
    font-size: 20px;
}

.button1{
    color: white;
    background-color: #19A89D;
    text-decoration: none;
    border: none;
    padding: 20px 28px;
    font-size: 20px;
    width: 260px;
    height: 65px;
}

/*upper middle section*/
.uppermiddlesection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 120px;
}

.visi, .misi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.parentvisi, .parentmisi{
    display: flex;
    flex-direction: column;
    gap: 38.5px;
}

.parentvisi{
    width: 518px;
    height: 172px;
}

.parentmisi{
    width: 625px;
    height: 292px;
}

.titlemisi, .titlevisi{
    font-size: 48px;
}

.descvisi, .descmisi{
    font-size: 16px;
    text-align: justify;
}

/*mid middle section*/
.midmiddlesection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 96px;
    margin-left: 96px;
    margin-top: 120px;
    gap: 116px;
}

.mentor{
    display: flex;
    align-items: center;
    gap: 24px;
}

.parentmentor{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 414px;
    gap: 64px;
}

.manfaat{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.softskill, .networking, .poinsat, .sertifikatmentor, .pengalamanmengajar, .modul, .aksesgratis{
    display: flex;
    align-items: center;
    gap: 12px;
}

.syarat{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.b25, .ipk, .pttkk{
    display: flex;
    align-items: center;
    gap: 12px;
}

.manfaatsyarat{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.manfaat, .syarat p{
    font-size: 16px;
}

.parentmentor p{
    font-size: 20px;
    text-align: justify;
}

.titlementor{
    font-size: 64px;
}

.titlemanfaat, .titlesyarat{
    font-size: 20px;
}

/*bottom middle section*/
.bottommiddlesection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 120px;
    margin-right: 96px;
    margin-left: 96px;
    gap: 102px;
}

.mentee{
    display: flex;
    align-items: center;
    gap: 24px;
}

.parentmentee{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 384px;
    gap: 64px;
}

.syaratmentee img{
    width: 32px;
    height: 32px;
}

.manfaatmentee{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.softskillmentee, .pengetahuanmentee, .modulmentee{
    display: flex;
    align-items: center;
    gap: 16px;
}

.parentmanfaatmentee{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.syaratmentee{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.b25mentee{
    display: flex;
    align-items: center;
    gap: 16px;
}

.manfaatsyaratmentee{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.registrasi{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 72px;
}

.titleregistrasi{
    font-size: 20px;
    font-style: italic;
}

.harga{
    font-size: 35px;
    color: #19A89D;
    font-weight: bolder;
}

.titlementee{
    font-size: 64px;
}

.titlemanfaatmentee, .titlesyaratmentee{
    font-size: 20px;
}

.manfaatmentee, .syaratmentee p{
    font-size: 16px;
}

.parentmentee p{
    font-size: 20px;
    text-align: justify;
}

/*bottom section*/
.bottomsection{
    margin-top: 120px;
    justify-content: center;
}

.video{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

.titlevideo{
    font-size: 48px;
}

/*footer*/
.footerwebsite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 128px;
    padding-right: 128px;
    margin-top: 120px;
    background-color: black;
    height: 454px;
}

.sosialmedia{
    display: flex;
    gap: 24px;
}

.contactus{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.visitus{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 468px;
    height: 116px;
}

.leftfooter{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.contactus, .visitus{
    color: white;
}

.titlefooter, .descvisitus{
    font-size: 16px;
}